<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

      5GF

    <span class="app-toolbar-filler"></span>
    <button class="app-icon-button">
      <i class="material-icons app-toolbar-menu">more_vert</i>
    </button>
  </md-toolbar>
  
</md-sidenav-container>
