<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

      5GF

    <span class="app-toolbar-filler"></span>
    <span *ngIf="userExists()">{{user.auth.displayName}}</span>
    <button class="app-icon-button" [mdMenuTriggerFor]="menu">
      <i class="material-icons app-toolbar-menu">more_vert</i>
    </button>
    <md-menu #menu="mdMenu">
      <button (click)="openAuthDialog()">login</button>
      <button (click)="logout()">logout</button>

    </md-menu>
  </md-toolbar>
  <router-outlet></router-outlet>

</md-sidenav-container>
